/*
* 页面底部样式
*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background: url("../images/header-bk.png") center #fff;
  background-size: cover;
  text-align: center;

  a {
    font-weight: bolder;
    color: #fff;
    text-decoration: none;
  }

  p {
    margin: 0 0 8px;
    font-size: 14px;
    color: #fff;
  }
}

.footer-assist {
  margin-top: 100px;
}
