.no-items {
  > p {
    margin-top: 5px;
    color: #999;
    text-align: center;
  }

  > .no-items-icon {
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    background: url("../images/no-items.png") no-repeat;
    background-size: 100% 100%;
  }
}
