# 使用公司的npm私服
#registry=http://10.13.8.25:7001/
#registry=http://10.240.20.17:7001/
registry=http://jnpm.cbpmgt.com/
#registry=https://registry.npmjs.org/

# package.json 将记录模块的确切版本，而不是一个可选的版本范围
#save-exact=true

# 禁用 package-lock
#package-lock=false
