$font-size-root: 16px;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$body-bg: #fff;
$body-color: #373a3c;
$abbr-border-color: #818a91;
$dt-font-weight: bold;

// Links
$link-color: #0275d8;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

// Tables
$table-cell-padding: .75rem;
$table-sm-cell-padding: .3rem;

$table-bg: transparent;
$table-bg-accent: rgba(0, 0, 0, .05);
$table-bg-hover: rgba(0, 0, 0, .075);
$table-bg-active: $table-bg-hover;

$table-border-width: 1px;
$table-border-color: #eceeef;

$cursor-disabled: not-allowed;
$text-muted: #818a91;

$image-path: "../images/";

