@import "~perfect-css/components/theme/mixin";

.icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin: 0 2rem;

  @include theme-prop(background, primary);

  /* stylelint-disable selector-pseudo-class-no-unknown */
  :global {
    .icon {
      font-size: 2rem;
      color: #fff;
    }
  }
}
