@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-ellipsis-line($line: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical; /*指定一个box子元素是否应按水平或垂直排列*/
  overflow: hidden;
  -webkit-line-clamp: $line; /*限制在一个块元素显示的文本的行数*/
  word-break: break-all;
}