<!DOCTYPE html>
<html>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>

  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport"
        content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no,email=no">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/favicon.ico">

  <!-- eruda 调试模式-->
  <script>
    (function () {
      if (/eruda=true/.test(window.location.href) || localStorage.getItem('active-eruda') === 'true') {
        var src = '/eruda.js';
        var script = document.getElementsByTagName('script')[0];
        var js = document.createElement('script');
        js.src = src;
        js.async = true;
        js.onload = function () {
          eruda.init();
        };
        script.parentNode.insertBefore(js, script);
      }
    })();
  </script>
</head>
<body>

  <div id="layout"></div>
  <div id="devtools"></div>

  <script src="/dist/vendor.dll.js"></script>
</body>
</html>
