// Flex 布局
//

.flex {
  display: flex;
}

.flex-items-top {
  align-items: flex-start;
}

.flex-items-middle {
  align-items: center;
}

.flex-items-bottom {
  align-items: flex-end;
}

.flex-items-left {
  justify-content: flex-start;
}

.flex-items-center {
  justify-content: center;
}

.flex-items-right {
  justify-content: flex-end;
}

.flex-items-around {
  justify-content: space-around;
}

.flex-items-between {
  justify-content: space-between;
}

.flex-items-column {
  flex-direction: column;
}

