// 重置 perfect 变量

// 禁用响应式布局
$enable-responsive: false;
$enable-custom-theme: true;
$enable-custom-theme-for-btn: true;
$enable-custom-theme-for-checkbox: true;
$enable-custom-theme-for-input: true;
$enable-custom-theme-for-radio: true;
$enable-custom-theme-for-tab: true;
$enable-custom-theme-for-ripple: true;
$enable-custom-theme-for-select: true;
$enable-custom-theme-for-table: true;
$enable-custom-theme-for-switch: true;
